.profilepic{
  border-radius: 30%;
}


.col-md-3{
  background-color: #346751;
  padding: 20px 50px 20px;
}
.profile{
  padding: 10px 25px 10px 25px;
}

.col-md-3 p{
  text-align: justify;
  color: white;
}
.col-md-3 h2{
  color: white;
}

.col-md-3 hr{
  color: white;
  width: 80%;
}

hr{
  text-align: center;
}
.col-md-9{
  background-color: #F7F7E8;
  padding-right: 20px;
  background-image: url("Slike/image6.jpg");

}

.name{
  background-color: #91C788;
  padding: 10px 10px 10px 40px;
  border-radius: 30px;
}

.education{
  background-color: #D5EEBB;
  padding: 20px 50px 20px;
  border-radius: 30px;
}

.hobbies table,
.skills h2,
.skills li{
  color: white;
}


a:hover{
  color: #74c69d;
}

a{
  color:  #02383C;
  text-decoration: none;
}

.row{
  padding-left: 10px;
}
.col-sm-3{
  background-color: #346751;
  border-radius: 30px;
  padding: 10px 20px 10px;
}

.col-sm-9{
  padding: 10px 10px 10px;
}

.exp{
  background-color: #91C788;
  border-radius: 30px;

  padding: 10px 50px 10px;
}

.name, .exp table, .education table{
  color: #1b4332;
}


.nav-link{
  color: #081c15;
}
.nav-link:hover{
  color: #40916c;
}

.hobbies{
  padding-bottom: 20px;
}

.lang{
  background-color: #a6c48a;
  color:  #081c15;
  border-radius: 30px;
  padding: 30px 30px 20px;
}


.namelang{
  width: 150px;
}

.data{
  padding: 10px 20px 20px;
}

.submit{
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #346751;
  color: #a6c48a;
}

.submit:hover{
  color: #346751;
  background-color: #a6c48a;
}

.social a{
  font-size: 20px;
}
.social td{
  padding: 40px 20px  5px;
}
.col-8,
.col-4{
  border-style: solid;
  border-width: 3px;
  border-color: #346751;
  padding: 20px 50px 20px;
  background-color: #a6c48a;
}

hr.solid {
  border-top: 7px solid;
}
